<launch>
    <!-- <arg name="x" default="-2.0"/>
    <arg name="y" default="-0.5"/>
    <arg name="z" default="0.0"/> -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find final_project)/worlds/costa_coffee_mod.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- <include file="$(find turtlebot3_gazebo)/launch/put_robot_in_world.launch">
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
    </include> -->

    <arg name="model" default="burger" doc="model type [burger, waffle]"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find_project)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <arg name="model" value="$(arg model)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="10.0" />
    </node>

    <!-- TF Broadcast -->
    <node pkg="tf" type="static_transform_publisher" name="static_tf_node"
    args="-2.0 -0.5 0 0 0 0 map odom 30">
    </node>
</launch>
