<?xml version="1.0"?>
<launch>
    <arg name="scan_topic" default="scan" />
    <arg name="map_file" default="$(find final_project)/map/cafe.yaml" />

    <!-- Turtlebot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" />

    <!-- Map Server Node -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL Node -->
    <node pkg="amcl" type="amcl" name="amcl">
        <rosparam file="$(find final_project)/config/amcl_params.yaml" command="load" />
        <remap from="scan" to="$(arg scan_topic)" />
    </node>

    <!-- Visulization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find final_project)/rviz/amcl.rviz"/>
</launch>